body{
    background-color: #8c8c8c;
}
#my-name{
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
    border: 1px border solid black;
    text-align: center;
    background: #33adff;
}
#Project-cards{
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
    display: flex;
    
}
#About-Me{
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
}
#Projects{
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
}

.card {
    text-align: center;
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
    background: #33adff;
    flex-grow: 1;
    flex-basis: 1px;
    max-width: 20%;
    box-shadow: 2px 2px 5px;
    margin: 0px 12px 12px 12px;
    padding: 24px;
    padding-top: 3px;
    border-radius: 15px;
}
.card h4{
    text-decoration: underline;
}
.card2 {
    text-align: center;
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
    background: #33adff;
    flex-grow: 1;
    flex-basis: 1px;
    max-width: 20%;
    box-shadow: 2px 2px 5px;
    margin: 0px 12px 12px 12px;
    padding: 3px 20px 3px 20px;
    border-radius: 15px;
}

.card2 ul{
    padding-left: 0px;
    list-style-type: none;
}

#Skills{
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
}

#Skills h2{
    margin-bottom: 2px;
}
footer {
    text-align: center;
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
    position: absolute;
    width: 100vw;
    text-align: center;
    border: 1px solid black;
    bottom: 0;
    background-color: #33adff;

}
