#my-name{
    text-align: center;
    border: 1px border solid black;
    text-align: center;
    background: teal;
}
#Project-cards{
    text-align: center;
    display: flex;
    
}
#About-me{
    text-align: center;
}
#Projects{
    text-align: center;
}
.card{
    text-align: center;
    background: teal;
    flex-grow: 1;
    flex-basis: 1px;
    max-width: 20%;
    box-shadow: 2px 2px 5px;
    margin: 12px;
    padding: 24px;
    padding-top: 3px;
}
footer {
    text-align: center;
    position: absolute;
    width: 100vw;
    text-align: center;
    border: 1px solid black;
    bottom: 0;

}
