#my-name{
    border: 1px border solid black;
    text-align: center;
    background: teal;
}
#Project-cards{
    display: flex;
    
}
.card{
    border-radius: 25px;
    flex-grow: 1;
    flex-basis: 1px;
    max-width: 20%;
    box-shadow: 2px 2px 5px;
    margin: 12px;
    padding: 24px;
    padding-top: 3px;
    background: teal;
    

}
footer {
    position: absolute;
    width: 100vw;
    text-align: center;
    border: 1px solid black;
    bottom: 0;

}
